In [9]:
import pandas as pd

df = pd.read_csv('../batchs/restaurant_1_week_002.csv')

df.head()

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products
0,1388,2015-01-10 20:12:00,Onion Chutney,1,0.50,6
1,1388,2015-01-10 20:12:00,Mint Sauce,1,0.50,6
2,1388,2015-01-10 20:12:00,Lime Pickle,1,0.50,6
3,1388,2015-01-10 20:12:00,Paratha,1,2.95,6
4,1387,2015-01-10 16:55:00,Onion Bhaji,1,3.95,1

In [18]:
###OBJECTIF : Concatener tous les fichier restaurants en un seul entre deux dates

import glob

# Construction du chemin et généralisation des fichiers csv
path =r'../batchs'
filenames = glob.glob(path + "/*.csv")

# Pour chaque csv trouvé dans le dossier, créé un dataframe
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concaténation de tous les dataframe
big_frame = pd.concat(dfs, ignore_index=True)

# Selection de dates
big_frame2 = big_frame[big_frame['Order Date'] > '2016-01-01']
big_frame2 = big_frame2[big_frame['Order Date'] < '2017-01-01']

big_frame2

SyntaxError: EOL while scanning string literal (3240831969.py, line 13)

In [17]:
dfs

[    Order Number           Order Date               Item Name  Quantity  \
 0           1388  2015-01-10 20:12:00           Onion Chutney         1
 1           1388  2015-01-10 20:12:00              Mint Sauce         1
 2           1388  2015-01-10 20:12:00             Lime Pickle         1
 3           1388  2015-01-10 20:12:00                 Paratha         1
 4           1387  2015-01-10 16:55:00             Onion Bhaji         1
 5           1386  2015-01-10 16:28:00             Onion Bhaji         1
 6            630  2015-01-09 14:42:00             Onion Bhaji         1
 7           1385  2015-01-10 15:19:00  Tandoori Chicken (1/4)         1
 8           1385  2015-01-10 15:19:00        Vegetable Samosa         1
 9           1382  2015-01-10 10:49:00        Vegetable Samosa         1
 10          1382  2015-01-10 10:49:00  Tandoori Chicken (1/4)         1
 11          1376  2015-01-10 10:02:00        Vegetable Samosa         1
 12          1375  2015-01-10 09:54:00        Vegetable Samosa         1
 13          1375  2015-01-10 09:54:00  Tandoori Chicken (1/4)         1
 14          1385  2015-01-10 15:19:00           Tandoori Fish         1
 15          1385  2015-01-10 15:19:00             Sheek Kehab         2
 16          1376  2015-01-10 10:02:00           Tandoori Fish         1
 17          1375  2015-01-10 09:54:00           Tandoori Fish         1
 18          1385  2015-01-10 15:19:00        Vegetable Karahi         1
 19          1385  2015-01-10 15:19:00         Vegetable Balti         1
 20          1376  2015-01-10 10:02:00          Chicken Sylhet         1

     Product Price  Total products
 0            0.50               6
 1            0.50               6
 2            0.50               6
 3            2.95               6
 4            3.95               1
 5            3.95               1
 6            3.95               3
 7            4.95               7
 8            4.95               7
 9            4.95               2
 10           4.95               2
 11           4.95               3
 12           4.95               3
 13           4.95               3
 14           5.95               7
 15           5.95               7
 16           5.95               3
 17           5.95               3
 18           8.95               7
 19           9.95               7
 20           9.95               3  ,
     Order Number           Order Date               Item Name  Quantity  \
 0           1397  2015-02-10 14:38:00           Spicy Papadum         1
 1           1403  2015-02-10 17:29:00                 Paratha         1
 2           1403  2015-02-10 17:29:00            Coke 1.5 ltr         1
 3           1403  2015-02-10 17:29:00              Lemon Rice         1
 4           1402  2015-02-10 16:39:00             Onion Bhaji         1
 5           1397  2015-02-10 14:38:00             Onion Bhaji         1
 6           1397  2015-02-10 14:38:00           COBRA (330ML)         1
 7           1390  2015-02-10 14:05:00             Onion Bhaji         2
 8           1389  2015-02-10 10:29:00             Onion Bhaji         1
 9           1403  2015-02-10 17:29:00        Vegetable Samosa         1
 10          1403  2015-02-10 17:29:00  Tandoori Chicken (1/4)         1
 11          1390  2015-02-10 14:05:00        Vegetable Samosa         1
 12          1403  2015-02-10 17:29:00           COBRA (660ML)         1
 13          1402  2015-02-10 16:39:00          Chicken Pakora         1
 14          1402  2015-02-10 16:39:00      Cauliflower Bhajee         1
 15          1402  2015-02-10 16:39:00        Tandoori Chicken         1
 16          1397  2015-02-10 14:38:00            Lamb Persian         1
 17          1390  2015-02-10 14:05:00                   Kurma         1
 18          1403  2015-02-10 17:29:00     House Red wine 75cl         1

     Product Price  Total products
 0            0.80               5
 1            2.95               9
 2            2.95               9
 3            3.95               9
 4            3.95               6
 5            3.95               5
 6            3.95               5
 7            3.95               4
 8            3.95               2
 9            4.95               9
 10           4.95               9
 11           4.95               4
 12           5.95               9
 13           5.95               6
 14           5.95               6
 15           8.95               6
 16          10.95               5
 17          12.95               4
 18          17.95               9  ,
    Order Number           Order Date    Item Name  Quantity  Product Price  \
 0           651  2015-08-09 17:56:00  Onion Bhaji         1           3.95
 1           648  2015-08-09 17:31:00  Onion Bhaji         1           3.95
 2           647  2015-08-09 17:12:00  Onion Bhaji         1           3.95

    Total products
 0               4
 1               1
 2               3  ,
    Order Number           Order Date    Item Name  Quantity  Product Price  \
 0           894  2015-09-09 15:52:00  Onion Bhaji         1           3.95
 1           874  2015-09-09 14:41:00  Onion Bhaji         1           3.95
 2           857  2015-09-09 12:48:00  Onion Bhaji         1           3.95
 3           840  2015-09-09 11:35:00  Onion Bhaji         1           3.95
 4           838  2015-09-09 11:28:00  Onion Bhaji         1           3.95
 5           764  2015-09-09 09:31:00  Onion Bhaji         1           3.95

    Total products
 0               4
 1               3
 2               4
 3               3
 4               4
 5               3  ,
     Order Number           Order Date               Item Name  Quantity  \
 0           1223  2015-09-30 16:52:00             Onion Bhaji         2
 1           1221  2015-09-30 15:38:00             Onion Bhaji         1
 2           1212  2015-09-29 15:20:00           Chicken Tikka         3
 3           1222  2015-09-30 15:50:00        Vegetable Samosa         1
 4           1221  2015-09-30 15:38:00        Vegetable Samosa         4
 5           1221  2015-09-30 15:38:00  Tandoori Chicken (1/4)         1
 6           1221  2015-09-30 15:38:00             Prawn Puree         1
 7           1220  2015-09-30 10:36:00        Vegetable Samosa         1
 8           1220  2015-09-30 10:36:00  Tandoori Chicken (1/4)         1
 9           1219  2015-09-29 16:16:00        Vegetable Samosa         1
 10          1216  2015-09-29 15:36:00        Vegetable Samosa         2
 11          1212  2015-09-29 15:20:00  Tandoori Chicken (1/4)         1
 12          1223  2015-09-30 16:52:00           Tandoori Fish         1
 13          1223  2015-09-30 16:52:00            Royal Paneer         1
 14          1221  2015-09-30 15:38:00           Tandoori Fish         4
 15          1221  2015-09-30 15:38:00            Royal Paneer         1
 16          1220  2015-09-30 10:36:00           Tandoori Fish         1
 17          1216  2015-09-29 15:36:00           Tandoori Fish         1
 18          1212  2015-09-29 15:20:00           Chicken Tikka         1

     Product Price  Total products
 0            3.95               3
 1            3.95               6
 2            3.95               3
 3            4.95               1
 4            4.95               6
 5            4.95               6
 6            4.95               6
 7            4.95               3
 8            4.95               3
 9            4.95               1
 10           4.95               2
 11           4.95               3
 12           5.95               3
 13           5.95               3
 14           5.95               6
 15           5.95               6
 16           5.95               3
 17           5.95               2
 18           7.95               3  ,
      Order Number           Order Date              Item Name  Quantity  \
 0            3298  2016-01-10 21:49:00             Mint Sauce         1
 1            3292  2016-01-10 19:23:00          Mango Chutney         1
 2            3292  2016-01-10 19:23:00          Onion Chutney         1
 3            3291  2016-01-10 19:21:00          Mango Chutney         1
 4            3290  2016-01-10 19:21:00             Mint Sauce         2
 ..            ...                  ...                    ...       ...
 253          2223  2016-01-04 19:59:00  Chicken Tikka Biryani         1
 254          3288  2016-01-10 18:59:00   Tandoori Mixed Grill         1
 255          2420  2016-01-05 21:25:00   Tandoori Mixed Grill         1
 256          3298  2016-01-10 21:49:00   Lamb Shashlick Curry         1
 257          2220  2016-01-04 18:52:00   Lamb Shashlick Curry         1

      Product Price  Total products
 0             0.50               7
 1             0.50               7
 2             0.50               7
 3             0.50               3
 4             0.50               8
 ..             ...             ...
 253          10.95               3
 254          11.95              15
 255          11.95               8
 256          12.95               7
 257          12.95              10

 [258 rows x 6 columns],
     Order Number           Order Date             Item Name  Quantity  \
 0           3864  2016-01-12 19:58:00         Mango Chutney         1
 1           3862  2016-01-12 19:12:00            Mint Sauce         1
 2           3864  2016-01-12 19:58:00         Plain Papadum         5
 3           3861  2016-01-12 18:12:00         Plain Papadum         1
 4           3859  2016-01-12 17:53:00         Plain Papadum         3
 ..           ...                  ...                   ...       ...
 79          3582  2016-01-11 17:20:00       Chicken Biryani         1
 80          3581  2016-01-11 11:37:00        Butter Chicken         1
 81          3862  2016-01-12 19:12:00    Lamb Tikka Biryani         1
 82          3856  2016-01-12 17:13:00  Tandoori Mixed Grill         1
 83          3856  2016-01-12 17:13:00     Bengal King Prawn         1

     Product Price  Total products
 0            0.50               5
 1            0.50               7
 2            0.80               5
 3            0.80               5
 4            0.80               5
 ..            ...             ...
 79           9.95               5
 80           9.95               6
 81          10.95               7
 82          11.95               8
 83          12.95               8

 [84 rows x 6 columns],
      Order Number           Order Date              Item Name  Quantity  \
 0            2615  2016-02-06 18:57:00          Mango Chutney         1
 1            2614  2016-02-06 18:15:00          Mango Chutney         1
 2            2614  2016-02-06 18:15:00          Onion Chutney         1
 3            2614  2016-02-06 18:15:00              Red Sauce         1
 4            2613  2016-02-06 12:56:00          Mango Chutney         1
 ..            ...                  ...                    ...       ...
 166          2424  2016-02-05 17:45:00    Chicken Tikka Balti         1
 167          2233  2016-02-04 19:31:00    Chicken Tikka Balti         1
 168          2229  2016-02-04 18:46:00    Chicken Tikka Balti         1
 169          2425  2016-02-05 17:47:00   Tandoori Mixed Grill         1
 170          2234  2016-02-04 19:36:00  King Prawn Hari Mirch         1

      Product Price  Total products
 0             0.50               8
 1             0.50               9
 2             0.50               9
 3             0.50               9
 4             0.50               5
 ..             ...             ...
 166          10.95               8
 167          10.95               7
 168          10.95               4
 169          11.95               9
 170          12.95               4

 [171 rows x 6 columns],
      Order Number           Order Date            Item Name  Quantity  \
 0            3880  2016-02-12 20:24:00        Mango Chutney         1
 1            3880  2016-02-12 20:24:00        Onion Chutney         1
 2            3880  2016-02-12 20:24:00          Lime Pickle         1
 3            3302  2016-02-10 16:48:00        Onion Chutney         1
 4            3302  2016-02-10 16:48:00        Mango Chutney         1
 ..            ...                  ...                  ...       ...
 232          3880  2016-02-12 20:24:00  King Prawn Shaslick         1
 233          3878  2016-02-12 20:04:00          Hazary Lamb         1
 234          3874  2016-02-12 19:06:00          Hazary Lamb         1
 235          3868  2016-02-12 12:03:00      Bengal Fry Fish         1
 236          2821  2016-02-08 18:44:00          Hazary Lamb         1

      Product Price  Total products
 0             0.50              14
 1             0.50              14
 2             0.50              14
 3             0.50               8
 4             0.50               8
 ..             ...             ...
 232          12.95              14
 233          12.95               9
 234          12.95               4
 235          12.95              12
 236          12.95              10

 [237 rows x 6 columns],
      Order Number           Order Date              Item Name  Quantity  \
 0            2624  2016-03-06 19:40:00            Lime Pickle         1
 1            2624  2016-03-06 19:40:00          Mango Chutney         1
 2            2621  2016-03-06 18:32:00          Mango Chutney         1
 3            2621  2016-03-06 18:32:00          Onion Chutney         1
 4            2620  2016-03-06 18:04:00          Mango Chutney         1
 ..            ...                  ...                    ...       ...
 104          2618  2016-03-06 17:39:00        Chicken Biryani         1
 105          2239  2016-03-04 18:23:00      Lal Mirch Chicken         1
 106          2238  2016-03-04 15:24:00           Lamb Biryani         1
 107          2240  2016-03-04 21:35:00  Chicken Tikka Biryani         1
 108          2433  2016-03-05 19:52:00   Tandoori Mixed Grill         1

      Product Price  Total products
 0             0.50               9
 1             0.50               9
 2             0.50              10
 3             0.50              10
 4             0.50              14
 ..             ...             ...
 104           9.95               3
 105           9.95               5
 106           9.95               7
 107          10.95               5
 108          11.95               7

 [109 rows x 6 columns],
      Order Number           Order Date              Item Name  Quantity  \
 0            3893  2016-03-12 22:12:00             Mint Sauce         1
 1            3889  2016-03-12 19:06:00          Mango Chutney         1
 2            3889  2016-03-12 19:06:00             Mint Sauce         1
 3            3882  2016-03-12 17:00:00          Mango Chutney         1
 4            3595  2016-03-11 18:48:00          Mango Chutney         1
 ..            ...                  ...                    ...       ...
 289          3085  2016-03-09 20:56:00   Lamb Shashlick Curry         1
 290          2835  2016-03-08 19:41:00       King Prawn Balti         1
 291          2834  2016-03-08 19:39:00       King Prawn Balti         1
 292          2833  2016-03-08 19:35:00       King Prawn Balti         1
 293          2832  2016-03-08 19:34:00  King Prawn Hari Mirch         1

      Product Price  Total products
 0             0.50               5
 1             0.50               8
 2             0.50               8
 3             0.50               7
 4             0.50               8
 ..             ...             ...
 289          12.95               6
 290          12.95              10
 291          12.95              10
 292          12.95              10
 293          12.95               2

 [294 rows x 6 columns],
      Order Number           Order Date                   Item Name  Quantity  \
 0            2130  2016-03-20 19:16:00                  Mint Sauce         2
 1            2130  2016-03-20 19:16:00               Onion Chutney         2
 2            2127  2016-03-20 17:40:00                   Red Sauce         1
 3            2127  2016-03-20 17:40:00                  Mint Sauce         1
 4            2117  2016-03-19 19:15:00               Onion Chutney         1
 ..            ...                  ...                         ...       ...
 283          2113  2016-03-19 15:24:00     Chicken Shashlick Curry         1
 284          2113  2016-03-19 15:24:00  Tandoori King Prawn Garlic         1
 285          2113  2016-03-19 15:24:00  Tandoori King Prawn Masala         1
 286          2095  2016-03-18 17:51:00         King Prawn Shaslick         1
 287          2073  2016-03-17 19:43:00                 Hazary Lamb         1

      Product Price  Total products
 0             0.50               5
 1             0.50               5
 2             0.50              12
 3             0.50              12
 4             0.50              11
 ..             ...             ...
 283          12.95               8
 284          12.95               8
 285          12.95               8
 286          12.95               4
 287          12.95               6

 [288 rows x 6 columns],
      Order Number           Order Date             Item Name  Quantity  \
 0            2188  2016-03-27 12:11:00            Mint Sauce         1
 1            2183  2016-03-26 18:14:00         Onion Chutney         1
 2            2164  2016-03-23 17:16:00         Onion Chutney         1
 3            2164  2016-03-23 17:16:00            Mint Sauce         1
 4            2164  2016-03-23 17:16:00             Red Sauce         1
 ..            ...                  ...                   ...       ...
 144          2184  2016-03-26 18:40:00                Madras         1
 145          2172  2016-03-24 18:59:00  Tandoori Mixed Grill         2
 146          2176  2016-03-25 16:56:00    King Prawn Biryani         1
 147          2134  2016-03-21 19:49:00     Bengal King Prawn         1
 148          2134  2016-03-21 19:49:00  Lamb Shashlick Curry         1

      Product Price  Total products
 0             0.50               3
 1             0.50               9
 2             0.50              10
 3             0.50              10
 4             0.50              10
 ..             ...             ...
 144          11.95               4
 145          11.95               2
 146          12.95               5
 147          12.95               6
 148          12.95               6

 [149 rows x 6 columns],
     Order Number           Order Date             Item Name  Quantity  \
 0           2202  2016-03-28 19:58:00         Onion Chutney         1
 1           2201  2016-03-28 19:28:00         Onion Chutney         1
 2           2197  2016-03-28 18:29:00         Onion Chutney         1
 3           2197  2016-03-28 18:29:00            Mint Sauce         1
 4           2211  2016-03-30 21:19:00         Plain Papadum         2
 ..           ...                  ...                   ...       ...
 94          2198  2016-03-28 18:51:00        Butter Chicken         1
 95          2210  2016-03-30 18:59:00    Paneer Tikka Balti         1
 96          2205  2016-03-29 19:39:00  Tandoori Mixed Grill         1
 97          2205  2016-03-29 19:39:00                 Curry         1
 98          2200  2016-03-28 19:06:00     King Prawn Karahi         1

     Product Price  Total products
 0            0.50               7
 1            0.50               4
 2            0.50               7
 3            0.50               7
 4            0.80               7
 ..            ...             ...
 94           9.95               5
 95          10.95               5
 96          11.95              15
 97          11.95              15
 98          12.95               5

 [99 rows x 6 columns],
      Order Number           Order Date                   Item Name  Quantity  \
 0            3316  2016-04-10 19:00:00               Mango Chutney         2

In [32]:
#Correction
start_week=122
end_week=126
prefix="restaurant_1"
data_dir="../batchs"

In [42]:
#Correction
import os

def extract(data_dir: str, prefix: str, start_week: int, end_week: int) -> pd.DataFrame:
    df=pd.DataFrame()
    
    for i in range(start_week, end_week+1):
        file_path=os.path.join(data_dir,"batchs",f'{prefix}_week_{i}.csv')
        #print(file_path)
        if os.path.isfile(file_path):
            batch=pd.read_csv(file_path)
            #print(file_path)
            df=pd.concat([df,batch],sort=True)
    return df

In [62]:
df=extract("C:/Users/98986/first_repository","restaurant_1",122,126)
df.head()

,Item Name,Order Date,Order Number,Product Price,Quantity,Total products
0,Mango Chutney,2017-05-07 17:56:00,5938,0.5,1,13
1,Onion Chutney,2017-05-07 17:56:00,5938,0.5,1,13
2,Mango Chutney,2017-05-05 19:25:00,5331,0.5,1,5
3,Mango Chutney,2017-05-05 19:01:00,5327,0.5,2,6
4,Mango Chutney,2017-05-05 17:16:00,5321,0.5,1,6

In [61]:
#Calculer le CA par Date :
dfcopy = df.copy()

dfcopy['CA'] = dfcopy['Product Price']*dfcopy['Quantity']
print("Le CA global total : ", (dfcopy['CA'].sum()))

dfgb = dfcopy.groupby('Order Date')
dfgb.head()
#print("CA par group by :", (dfgb['CA'].sum()))

KeyError: 'Product Price'

In [64]:
def clean(df: pd.DataFrame) -> pd.DataFrame:
    """
    Clean a raw extract of data.
    Parameters
    ----------
    df : pd.DataFrame
        Input data to clean.
    Returns
    -------
    pd.DataFrame
        Cleaned data.
    """
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df['order_date'] = pd.to_datetime(df['order_date'])
    df = df.rename(columns={'order_number': 'order_id'})
    df = df.sort_values('order_date')
    df['total_product_price'] = df['quantity']*df['product_price']
    df['cash_in'] = df.groupby('order_id')['total_product_price'].transform(np.sum)
    df = df.drop(
        columns=['item_name', 'quantity', 'product_price',
                 'total_products', 'total_product_price'],
        errors='ignore'
    )
    df = df.drop_duplicates()
    df = df.reset_index(drop=True)
    return df

In [67]:
#Correction
import numpy as np
def clean(df:pd.DataFrame) -> pd.DataFrame :
    df.columns=df.columns.str.lower().str.replace(' ','_')
    df['order_date']=pd.to_datetime(df['order_date'])
    df['total_product_price']=df['quantity']*df['product_price']
    df['cash_in']=df.groupby('order_number')('total_product_price').transform(np.sum)
    df=df.drop(columns=['item_name','quantity','product_price','total_product','total_product_price'])
    df=df.drop_duplicated()
    df=df.reset_index(drop=True)
    return df

In [72]:
df1=extract('C:/Users/98986/first_repository/batchs')
df1=clean(df1)
df2=clean(df2)

NameError: name 'df1' is not defined

In [70]:
def merge(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    df=pd.concat([df1,df2],sort=True)
    df=df.drop(columns='order_number')
    df=df.dort_values('order_date')
    df=df.reset_index(drop=True)
    return df

In [71]:
df=merge(df1,df2)
df=df.rename('1H', on='order_date').sum().reset_index()
df.head()

NameError: name 'df1' is not defined